<div class="container mt-5">
   <div class="row">
        <div class="col-lg-8 offser-lg-2">
            <div class="card">
                <div class="card-body text">
                    <span class="titulo">Lista de productos</span>
                    <button class="btn btn-success float-end">Nuevo</button>
                    <table class="table table-stripped mt-5">
                        <thead>
                          <tr>
                            <th scope="col">producto</th>
                            <th scope="col">categoria</th>
                            <th scope="col">ubicacion</th>
                            <th scope="col">precio</th>
                            <th scope="col"><i class="fa-solid fa-trash"></i></th>
                        </thead>
                        <tbody>
                          <tr>
                            <th>Playera Deportiva</th>
                            <td>Nike</td>
                            <td>Guadalajara</td>
                            <td>800</td>
                            <td><i class="fas fa-solid fa-pen-to-square text-primary"></i>
                                <i class="fas fa-solid fa-trash text-danger"></i>  
                            </td>
                          </tr>
                          <tr>
                            <th>Sudadera Deportiva</th>
                            <td>Puma</td>
                            <td>Monterrey</td>
                            <td>1000</td>
                            <td><i class="fas fa-solid fa-pen-to-square text-primary"></i>
                              <i class="fas fa-solid fa-trash text-danger"></i>  
                          </td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
   </div>
</div>